<div id="ap_compare_paneltool">
	<div class="ap_cp_btn">
		<span class="ap_cp_symbols">
			<i class="fa fa-refresh"></i>
		</span>
	</div>
	<div class="ap_compare_product">
		<div class="ap-cp-list-item">
			<div class="ap_cp_item ap_cp_title" data-id ='1123-webhook'>{{ 'layout.compare.panel_title' | t }}</div>
		</div>
		<div class="ap-cp-submit">
			<button class="ap-cp-to-page btn btn-outline">{{ 'layout.compare.panel_button' | t }}</button>
		</div>
	</div>
</div>
