{% include 'ap-multilang-namespace' %}
<div class="ap-multilang-box popup-over e-scale" title="App multilanguage - apollotheme">
        <div data-toggle="dropdown" class="popup-title dropdown-toggle">
        <span class="ap-title-language">Language: </span>
             <a class="current_lang" href="#" data-lang="{{ current_lang }}">
                                <div class="icon-language" style="background : url('data:image/gif;base64, R0lGODlhEAALANUAAJgAAN2Dg+rq6uKKiv39/eJ1ddtVVeujo9DPz+menswoKNlycvv19fT09Pnz87wAAM8xMffx8dhNTdE2Nt56etM8PPb29tRCQunm5tZHR9/f393d3eXl5eHh4ePj4/Ly8/Tu7uBubuiWltt3d9NHR+SUk/Ps7NdHSNVMTOKGhu/v8e3t7fz4+NFVVdG/v+nb28k/P9fLy+WPj9jY2O6vr/v7+/Pz8/f39/j4+MvLy/r6+vLy8vn5+f7+/vHx8f///yH5BAAAAAAALAAAAAAQAAsAAAaMQJ9QqMI8Hi8BhuPpaHy/X2/KKoQYNR0Pd9tApz0CwyBxbG+W28wHJoglJwfX0rDMWrTDIZEQZS4DgQEBJQAPBQaJEn8VExAKkBcAMDQiJTIyKY0UFCMLCwEAKwQ1WTwRjiANNjs7NggCBDpaOBGPJqxCOzkCplsRKCQmqx+tOUtNGhsxAAAuCNA50kEAOw==') no-repeat;">
                    <span>English</span>
                </div>
                            </a>
        </div> 
    <ul class="dropdown-menu list-lang">
                <li class="item-lang">
            <a href="http://st-unique.myshopify.com/?preview_theme_id=177064585" class="active">
                        <div class="icon-language" style="background : url('data:image/gif;base64, R0lGODlhEAALANUAAJgAAN2Dg+rq6uKKiv39/eJ1ddtVVeujo9DPz+menswoKNlycvv19fT09Pnz87wAAM8xMffx8dhNTdE2Nt56etM8PPb29tRCQunm5tZHR9/f393d3eXl5eHh4ePj4/Ly8/Tu7uBubuiWltt3d9NHR+SUk/Ps7NdHSNVMTOKGhu/v8e3t7fz4+NFVVdG/v+nb28k/P9fLy+WPj9jY2O6vr/v7+/Pz8/f39/j4+MvLy/r6+vLy8vn5+f7+/vHx8f///yH5BAAAAAAALAAAAAAQAAsAAAaMQJ9QqMI8Hi8BhuPpaHy/X2/KKoQYNR0Pd9tApz0CwyBxbG+W28wHJoglJwfX0rDMWrTDIZEQZS4DgQEBJQAPBQaJEn8VExAKkBcAMDQiJTIyKY0UFCMLCwEAKwQ1WTwRjiANNjs7NggCBDpaOBGPJqxCOzkCplsRKCQmqx+tOUtNGhsxAAAuCNA50kEAOw==') no-repeat;">
                <span>English</span>
            </div>
                        
            </a>
        </li>
            <li class="item-lang">
            <a href="http://st-unique.myshopify.com/?preview_theme_id=1401520137" class="">
                        <div class="icon-language" style="background : url('data:image/gif;base64, R0lGODlhEAALANUAAKqqqpqv2fHx8e1kVsTS7Vd7xenp6vSIft7e3viVjNTU1NgAALTF57zL6WaHzOpqXe7u7qG13ebm5uTk5O52arLD5aa53vN+cvf396q94e4JAHKS0uQAAOpXSfFwZMHP68/Pz/BqXMYAAK+/48wAAOxuYvN3a+lmWutdT+hSQ+ZNPvT09Lu7uxdHpfj4+LfI5+xeUOzr60Rsu+Li4p+fn2+P0aa54LOwsK6/5CxXsK7A5Ojo6O3t7evr6+zs7HOV0yH5BAAAAAAALAAAAAAQAAsAAAaLwJ/wt0EgFAoQSKPhOH+E6MeFqa5WicThwIG+GBWer2cwSC4mz2Gx+YB1kN7YnA5dFrVPBZeB8GIGOxIeIQMUCw4NfDYCfjxkhTCHDi8ZFhGNY4IDKB0lJAUvlwEQmhITnSkPoBURAQE+gaczHSkqJyIyI5YRYrISJQ8nA7k5xi0sLDcAADQkJCLRQQA7') no-repeat;">
                <span>France</span>
            </div>
                        
            </a>
        </li>
            <li class="item-lang">
            <a href="http://st-unique.myshopify.com/?preview_theme_id=1402765321" class="">
                        <div class="icon-language" style="background : url('data:image/gif;base64, R0lGODlhEAALANUAAPDcbqU/L/x1dfnrl6h9L7W1q6iGL/NHR5mLffWmVvayaZSUh6SkmWloaUpIOnhMS+0pKfblh518fHh4ePpmZvyyqfE8PJ13L/tsbPjlZfXhV0pKR+rTLO+SNu7YOoxlZfLcSPPgevKbRLOKL1hYWOuJJ/lgYLakL2k5OT8/OvZSUu8zM7q6sfdZWb1BMZuEL/zVpMq4r/KAcINbW+bNHeoeHmZJPOiCHe/gba2to5VycoCBgfvxopyckOjPIj8/LyH5BAAAAAAALAAAAAAQAAsAAAaHwI1j6Ej9jsikg8UsFHJQBqPXWyx+y91uMml4SaTNJoX42WISiU73+cwecBSq7KoIBBiKqaU6HCwrEDIBdXh6fH6AEIKEFXl7fX+BEDWDBDAKCgmbIiIdHSUlNwoBJzwZGRoaICAeHhwcPjQ4LycDtwMRuiG8AL4AFyPCIwQEBscvBBfKFxdBADs=') no-repeat;">
                <span>German</span>
            </div>
                        
            </a>
        </li>
        </ul>
    </div>