<script id="emtycart" type="text/template">
<div class="block-empty">
	{% raw %}
	<div class="icon-empty">
		<svg enable-background="new 0 0 64 64" version="1.1" viewBox="0 0 64 64" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
			<path d="M43,17v-6c0-6.065-4.935-11-11-11S21,4.935,21,11v6H9v47h46V17H43z M23,11c0-4.962,4.038-9,9-9s9,4.038,9,9v6H23V11z    M53,62H11V19h10v5h2v-5h18v5h2v-5h10V62z"/>
			<polygon points="39.706 35.708 38.292 34.293 32 40.586 25.708 34.293 24.293 35.707 30.586 42 24.292 48.293 25.706 49.708 32 43.414 38.293 49.707 39.707 48.293 33.414 42"/>
		</svg>
	</div>
	{% endraw %}
	<p class="text-empty text-center"> {{ 'cart.general.empty' | t }} </p>
	<a class="btn-emty btn" href="/">Return To Shop</a>
</div>
</script>