{% include 'breadcrumb' %}
<div class="container">
  <header class="section-header text-center">
    <h1>{{ page_title }}</h1>
  </header>

  
  {% paginate collections by 9 %}
      <div class="row">
      {% for collection in collections %}{% include 'ap_multilang_collection' with collection %}
        <div class="col-xs-12 col-md-4 col-sm-4">
          {% include 'collection-grid-item' %}
        </div>
      {% endfor %}
    </div>
    {% if paginate.pages > 1 %}
      <div class="text-center">
        {% include 'pagination-custom' %}
      </div>
    {% endif %}    
  {% endpaginate %}
  
</div>

