{% include 'breadcrumb' %}
<section id="columns" class="columns-container">
	{% section 'store_located' %}
	 <div class="container">
	 	{% include 'shortcode' load: page.content %}
	 </div>
</section>