{% include 'breadcrumb' %}
<section id="columns" class="aboutper">
  	<div class="aboutus">
      <section id="center_column">
          <div class="page-wrap">                
            <div class="rte">
              {% section 'about-personal'%}
            </div>
        </div>
      </section>  
  </div>
</section>